.question-wrap-in {
    width: 100%;
    .question-wrap-title{
        width: 100%;
        // height: 50px;
        background: #fff;
        line-height: 50px;
        padding:5px 30px;
        font-size: 20px;
        overflow-y: auto;
        p{
            margin:0;
            font-size: 30px;
        }
    }
}
.addABC {
    position: absolute;
    z-index: 9999999;
}
.shop{
    position: relative;
    z-index: 11;
}