body {
    font-size: 0.12rem;

}

.wraper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: -webkit-flex;
    flex-direction: column;
    background-color: #dec
}

.header {
    background-color: #099fde;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}


.content {
    -webkit-flex: 1;
    position: relative;
}